.switch {
  display: none;
  & + label {
    position: relative;
    border-radius: 12px;
    display: block;
    cursor: pointer;
    width: 40px;
    height: 24px;
    margin: 2px;
    padding: 2px;
    background-color: #999999;
    &::after {
      -webkit-transition: 0.4s;
      transition: 0.4s;
      position: absolute;
      top: 10%;
      border-radius: 100%;
      content: '';
      background-color: white;
      width: 20px;
      height: 80%;
      display: block;
    }
  }
  &:checked + label {
    background-color: $neev_secondary;
    &::after {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }
}
