.slogan {
  margin-bottom: 20px;
}

.image {
  max-width: 300px;
  margin: 0 auto 50px;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  text-align: center;
}
